$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-white: #fff;
$text-color-black: #000;
$text-color-onyx-black: #2b292d;
$text-color-blue: #3040c4;
$text-color-light-blue: #3141c5;
$text-color-dark-aqua: #00a1c612;
$text-color-lime: #009b4d;
$text-color-orange: #f1592b;
$text-color-bright-blue: #0185d0;

$color-gray: #2b292d33;
$color-light-coral: #f3c6bd;
$color-white: #fff;
$color-light: #f4f5f7;
$color-dark-aqua: #00a1c612;
$color-blue: #3040c4;
$color-light-blue: #3141c5;
$color-bright-blue: #0185d0;
$color-shadow: #2b292d26;
$color-dark-gray: #2b292d1a;
$color-orange-gray: #fcf0e366;
$color-cold-gray: #d5d4d5;
$color-light-gray: #e3e3e3;
$color-black: #000;
$color-onyx-black: #2b292d;
$color-onyx-black-transperent: #2b292d99;

$border-color-dark: #00000026;
$border-color-light-gray: #e3e3e3;
